/__history/*
/AdventOfCode2017.res
/AdventOfCode2017.identcache
/AdventOfCode2017.dproj.local
/uAOCUtils.pas.cbk
/AdventOfCode2017.stat
/AdventOfCode2017.Ini
/Win32/*
/__vs/*
/__recovery/*

/AdventOfCode2017.text
